@charset "UTF-8";
body p strong {
    color: #00FF00;
    background-color: #000000;
    margin-right: 0px;
    -webkit-box-shadow: 0px 0px #000000;
    box-shadow: 0px 0px #000000;
}
Background {
    background-color: #000000;
}
